/* ==========================================
SYSTEM STATUS
========================================== */

.system-status{

    width:100%;

}

/* ========================================== */

.live-tag{

    color:#22C55E;

    font-weight:600;

}

/* ========================================== */

.service-card{

    display:flex;

    align-items:center;

    gap:15px;

    background:#18253D;

    border-radius:16px;

    padding:15px;

    margin-bottom:15px;

    transition:.35s;

}

.service-card:hover{

    transform:translateY(-4px);

}

/* ========================================== */

.service-icon{

    width:52px;

    height:52px;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:22px;

}

/* ========================================== */

.service-info{

    flex:1;

}

.service-info h3{

    color:white;

    font-size:15px;

    margin-bottom:5px;

}

.service-info p{

    color:#94A3B8;

    font-size:13px;

}

/* ========================================== */

.status-dot{

    width:12px;

    height:12px;

    border-radius:50%;

    background:#22C55E;

    box-shadow:0 0 10px #22C55E;

}

/* ========================================== */

.server-health{

    margin-top:20px;

    background:linear-gradient(
        135deg,
        #7C3AED,
        #2563EB
    );

    border-radius:18px;

    padding:20px;

    display:flex;

    align-items:center;

    gap:15px;

    color:white;

}

.server-health svg{

    font-size:34px;

}

.server-health small{

    color:#E2E8F0;

}

.server-health h3{

    margin-top:5px;

    font-size:28px;

}